.container {
	font-family: 'Cairo', sans-serif;
	font-size: 1.3em;
	color: #800e14;
}
.form-control {
	font-size: 0.8rem;
	line-height: 1.5em;
	color: #125833;
	border: 1px solid #125833;
	border-radius: .25rem;
}

.custom-control-label::after {
	background-color: #125833b0;
	border: 1px solid #125833;
}

.btn {
	color: #fff;
	background-color: #125833;
	border-color: #125833;
}
.btn:hover {
	color: #fff;
	background-color: #125833ef;
	border-color: #125833;
}
.single-album {
	position: relative;
	overflow: hidden;
	box-shadow: 4px 4px 4px #7c0e13;
	border-radius: 150px 20px 30px 23px;
}
.album-img {
	position: relative;
	overflow: hidden;
}
.album-img img {
	width: 100%;
}

.album-content {
	height: 80px;
	width: 100%;
	overflow: hidden;
	text-align: center;
	position: absolute;
	bottom: 0;
	transition: all .4s;
	background: #b1131bf1;
}

.single-album:hover .album-content {
	height: 120px;
}

.album-info {
	transition: all .5s;
	padding: 5px 20px 5px 20px;
}

.album-info h3 {
	color: whitesmoke;
	font-family: 'Cairo', sans-serif;
	font-size: 1.5rem;
	margin: 5px;
	text-transform: uppercase;
}

.album-text {
	color: rgb(255, 230, 230);
	padding: O 10px 5px;
	font-size: 1.3rem;
}
